@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom fading animation */
@keyframes fade {
  0%, 100% { opacity: 1; }  /* Fully visible */
  50% { opacity: 0.5; }     /* Partially faded */
}

.animate-fade {
  animation: fade 1.5s infinite;
}

.delay-0 {
  animation-delay: 0s;
}

.delay-300 {
  animation-delay: 0.3s;
}

.delay-600 {
  animation-delay: 0.6s;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #54D6BB;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

i {
    cursor: pointer;
}
